
header{
  position: fixed;
}
nav ul {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--blue);
  }

nav li{
    border-right: 1px solid #bbb;
    float: left;
   
    
}
nav li :last-child{
    border-right: none;
}
nav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
    background-color: #303870;
  }
img.mainPageSlides{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 70%;
}


body{
  background-color: var(--beige);
  padding-bottom: 500px;
}

.slides{
  
  text-align: center;

}

.slides div{


}

footer ul{
  list-style-type:none ;
  
}
footer li{
  margin-top: 1%;
 
}
footer
{
  text-align: center;
}
footer button{

  background-color: var(--green);
  color:white;
  border: none;
  height: 36px;
  width:105px ;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}




