.sidebar-container{
   
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    width: 7%;
    justify-content: space-between;
    position: fixed;
    top:10%;
    bottom: 10%;
    left: 0;
    margin-left: 0px;

}
.sidebar-container div{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    position: relative;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

 .text{
    display: inline-block;
    text-align: center;
    /* background-color:blueviolet; */
    overflow-wrap: break-word;
    position: absolute;
    right: 20px;
}


.sidebar-container button{
    width: 95px;
    position: relative;
    background-color: var(--light-grey);
    border: none;
    border-radius: 20px;
   
}
.sidebar-container button:hover{
    cursor: pointer;
    background-color: aliceblue;
}


.sidebar-container div img{
  width: 50px;
 
 

}

.text{
    padding-left: 20px;
    white-space: nowrap;
    position: absolute;
    text-align: center;
  
  }  

.nav-right{
    display: flex;
    float: right;
    position: fixed;
    /* justify-content: center; */
    align-items: flex-end;
    width: 150px;
    margin-top: -52px;
    margin-left: 90%;  
    /* background-color:aqua; */
    z-index: 200;
  
}

.nav-right div{
    position: relative;
    display: flex;
    align-items: flex-end;
    
}

.nav-right div img{
    width: 30%;
    height: 20%;
    top: 0;
    display: flex;
    

}
.nav-right div button .text{
    /* position: absolute; */
    /* align-items: center; */
    /* background-color:cadetblue; */
    margin-top: 0px;
    top: 0;
    margin-right: 10px;

    
   
}
.nav-right div button{
    background-color:transparent;
    border: none;
    height: 100%;
   
}
.nav-right div button:hover{
    background-color: aliceblue;
    cursor: pointer;
}

.welcome{
    background-color:var(--stolen3);
    position: relative;
    width: 40%;
    height: 300px;;
    margin-left: 32%;
    top: 100px;
    font-size: 200%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.section1{
    background-color:var(--stolen-grey);
    position: relative;
    width: 40%;
    height: 300px;;
    margin-left: 32%;
    margin-top: 12%;
    top: 100px;
    font-size: 200%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   

   

}
.section2{
    background-color:var(--stolen-green);
    position: relative;
    width: 40%;
    height: 300px;;
    margin-left: 32%;
    margin-top: 12%;
    top: 100px;
    font-size: 200%;
    text-align: center;
     display: flex;
    align-items: center;
    justify-content: center;
   

   

}
