<!DOCTYPE html>
<html>
<head>
  <title>Bank Account Transactions</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    h1{
        color: #07ad90;
    }
  </style>
</head>
<body>
  <h1>Bank Account Transactions</h1>

  <table>
    <tr>
      <th>Date</th>
      <th>Transaction Type</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>2023-05-01</td>
      <td>Deposit</td>
      <td>$500.00</td>
    </tr>
    <tr>
      <td>2023-05-05</td>
      <td>Withdrawal</td>
      <td>$200.00</td>
    </tr>
        <tr>
      <td>2023-05-10</td>
      <td>Deposit</td>
      <td>$300.00</td>
    </tr>
    <tr>
      <td>2023-05-10</td>
      <td>Deposit</td>
      <td>$300.00</td>
    </tr>
        <tr>
      <td>2023-05-10</td>
      <td>Deposit</td>
      <td>$300.00</td>
    </tr>
  </table>

</body>
</html>
