<!DOCTYPE html>
<html>
<head>
  <title> Credit Card Transactions</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
    h1{
        color: #07ad90;
    }
  </style>
</head>
<body>
  <h1>Credit Card Transactions</h1>

  <table>
    <tr>
      <th>Date</th>
      <th>Credit Num</th>
        <th>Transactions</th>
      <th>Amount</th>
    </tr>
    <tr>
      <td>2023-05-01</td>
      <td>**** **** **** 2344</td>
       <td>CFC</td>
      <td>$100.00</td>
    </tr>
      <tr>
      <td>2023-05-01</td>
      <td>**** **** **** 1060</td>
       <td>carefoure</td>
      <td>$20.00</td>
    </tr>
       <tr>
      <td>2023-05-01</td>
      <td>**** **** **** 5567</td>
       <td>Adidas</td>
      <td>$30.00</td>
    </tr>
    <tr>
      <td>2023-05-01</td>
      <td>**** **** **** 1060</td>
       <td>Nike</td>
      <td>$100.00</td>
    </tr>
         <tr>
      <td>2023-05-01</td>
      <td>**** **** **** 3478 </td>
       <td>Starbucks</td>
      <td>$500.00</td>
    </tr>
  </table>

</body>
</html>
