
@import url("../sections/forms.css");
@import url("../sections/homePage.css");
@import url("../sections/loggedIn.css");


:root{
  --primary-color:#18206F;
  --seondary-color:#D4AF37;
  --green:#A4B494;
  --purple:#6C6061;
  --blue:#383F51;
  --light-grey:#CBCBC4;
  --beige:#fff5d6;
  --stolen1:#f9f9f2;
  --stolen2:#1e3151;
  --stolen3:#453542;
  --stolen-green:#2F4F4F;
  --stolen-grey:#747870;


}
a{
  text-decoration: none;
}
body{
  padding-top: 47px;
}

html, body{
  height: 100%;
}